@import '../../index.css';
// card

.card{
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    background-color: #fff;
    border: none !important;
    padding: 0 !important;
    .card-body{
        padding: 20px 15px !important;
    }
    .card-title{
        font-weight: 600;
        color: var(--bs-primary-text);
        font-size: 24px;
        margin-bottom: 10px;
    }
    .card-text{
        font-weight: 500;
        color: var(--bs-secondary-text);
        font-size: 16px;
        margin-bottom: 10px;
    }
    .card-footer{
        padding: 20px 15px !important;
        background-color: unset;
        color: var(--bs-primary-text);
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 600;
        cursor: pointer;
    }
}